name: Deploy to GCP Storage (Zenova Systems)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up gcloud CLI
      uses: google-github-actions/setup-gcloud@v1
      with:
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Set bucket variable
      run: echo "BUCKET=${{ secrets.GCP_BUCKET_NAME }}" >> $GITHUB_ENV

    - name: Sync website to Cloud Storage
      run: gsutil -m rsync -r ./ "gs://${BUCKET}"

